@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
	--inconsolata-font: 'Inconsolata', monospace, sans-serif;
	--default-color: #f4960b;
	--secondary-color: #38498b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--inconsolata-font);
}

body {
	height: 100dvh;
	width: 100%;
}
