@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100dvh;
	width: 100dvw;
	background-image: url(../src/img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	height: 100dvh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	& .logo {
		width: 17vh;
	}

	& .logo img {
		width: 100%;
	}

	& .container {
		margin: 10px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border: 2px solid #38498b;
		background-color: rgba(255, 255, 255, 0.223);
		padding: 10px;
		border-radius: 30px;
		width: 40%;
		height: 83vh;

		& h1 {
			font-family: 'Lilita One', sans-serif;
			font-size: 3.5em;
			font-weight: 400;
			font-style: normal;
			color: white;
			letter-spacing: 2px;
			text-shadow: 1px 1px 1px #38498b, 1px -1px 1px #38498b, -1px 1px 1px #38498b, -1px -1px 1px #38498b;
		}

		& #error_register_message {
			width: 78%;
			& p {
				font-size: 1.5em;
				font-weight: bold;
				font-style: italic;
				color: #df1e1e;
				position: relative;
				top: 10px;
				left: 15px;
			}
		}

		.env_bottons {
			display: flex;
			justify-content: space-evenly;
			height: 70px;

			& button {
				width: 35%;
				border-radius: 35px;
				border: none;
				font-weight: bold;
				font-size: 1.8em;
				border: 1px solid #38498b;
				background-color: #377ebcd1;
			}

			& #btn-back {
				font-size: 1.7em;
				font-weight: bold;
				text-decoration: none;
				background-color: #377ebcd1;
				width: 35%;
				padding: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 35px;
				border: 1px solid #38498b;
			}
		}

		.sub_checkbox {
			display: flex;
			justify-content: space-evenly;
			height: 35px;

			& input {
				appearance: none;
				width: 40px;
				height: 40px;
				border: 4px solid black;
				border-radius: 5px;
				cursor: pointer;
				transition: all 0.1s ease-in-out;
				position: relative;
			}

			& label {
				font-size: 1.8em;
				font-weight: bold;
			}

			& div {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}

		& form {
			display: flex;
			flex-direction: column;
			margin: 15px;
			gap: 23px;
			width: 80%;

			.input {
				border: 3px solid #38498b;
				background-color: #7ab0e081;
				width: 100%;
				border-radius: 45px;
				padding: 20px;
				position: relative;

				& .icons {
					width: 42px;
					margin-right: 20px;
					position: relative;
					top: 6px;
					pointer-events: none;
				}

				& .password_icon {
					position: absolute;
					right: 30px;
					top: 30px;
					width: 6%;
					cursor: pointer;
				}

				& label {
					font-size: 1.8em;
					font-weight: 600;
					color: #55667b;
					left: 7.8vh;
					top: 34%;
					transition: 0.3s ease-in-out;
					pointer-events: none;
					position: absolute;
				}

				& input {
					font-size: 1.8em;
					background-color: transparent;
					width: 85%;
					height: 45px;
					border-radius: 10px;
					border: none;
					outline: none;
				}
			}
		}
	}
}

.input input:focus ~ label,
.input input:not(:placeholder-shown) ~ label {
	font-size: 1.5em !important;
	transform: translateY(-90%);
	transition: all 0.3s ease-in-out;
}

button:hover {
	cursor: pointer;
	background-color: #447198e9 !important;
	border: 2px solid #38498b !important;
}

input[type='radio']:checked::before {
	content: '✔';
	font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
